# Temporary data files
.ipynb_checkpoints/
/.ipynb_checkpoints

# Byte-compiled files
model/__pycache__/

# zip file
National+Achievement+Survey.zip

#presentation files
Presentation.ipynb
Presentation.slides.html
reveal.js
/reveal.js
/reveal.js/